body {
    background-color: rgb(53, 60, 82);
    color: white;
    font-family: Courier;
    display: grid;
    align-content:  center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 14pt;
    font-weight: normal;
}